<app-header
[titulo]="tituloApp"
subtitulo="Esse é um exemplo simples de uma aplicação Angular integrada a uma REST API."></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">

      <div class="card ml-3">
        <div class="card-body">
          <h5 class="card-title">{{ cardTitle }}</h5>
          <form (ngSubmit)="onSubmit(f)" novalidate #f="ngForm">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="novaTurma.nome" required>
            </div>
            <div class="form-group">
                <label for="local">Local</label>
                <input type="text" class="form-control" id="local" name="local" [(ngModel)]="novaTurma.local" required>
            </div>
            <div class="form-group">
              <label for="local">Data de início</label>
              <input type="date" class="form-control" id="dataInicio" name="dataInicio" [(ngModel)]="novaTurma.dataInicio" required>
            </div>
            <div class="form-group">
              <label for="curso">Curso</label>
              <select class="form-control" id="curso" name="cursoId" [(ngModel)]="novaTurma.cursoId" required>
                <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.nome}}</option>
              </select>
            </div>
            <div class="form-group">
                <label for="professor">Professor</label>
                <select class="form-control" id="professor" name="professorId" [(ngModel)]="novaTurma.professorId" required>
                  <option *ngFor="let professor of professores" [value]="professor.id">{{professor.nome}}</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary mr-3" [disabled]="f.invalid">Salvar</button>
            <button class="btn btn-secondary" (click)="cancelOperation()">Cancelar</button>
          </form>
        </div>
      </div>

    </div>

    <div class="col-6">

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let turma of turmas">
          <h4>{{turma.nome}}</h4>
          <ul>
            <li>Professor: {{turma.professor.nome}}</li>
            <li>Curso: {{turma.curso.nome}}</li>
            <li>Local: {{turma.local}}</li>
            <li>Duração: início em {{turma.dataInicio | date:'dd/MM/yyyy'}} ({{turma.curso.cargaHorariaHoras}} horas)</li>
          </ul>
          <hr class="my-4">
          <button type="button" class="btn btn-info btn-sm mr-3" (click)="editTurma(turma)">Editar</button>
          <button type="button" class="btn btn-danger btn-sm " (click)="deleteTurma(turma)">Excluir</button>

        </li>
      </ul>
    </div>

  </div>
</div>
