<div class="jumbotron">
  <h1 class="display-4">Agenda Angular</h1>
  <p class="lead">Esse é um exemplo simples de uma aplicação Angular integrada a uma REST API.</p>
  <hr class="my-4">
  <p>Construído para o Open Source Day Bootcamp.</p>
</div>


<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
