<div class="jumbotron">
  <h1 class="display-4">Agenda Angular</h1>
  <p class="lead">Esse é um exemplo simples de uma aplicação Angular integrada a uma REST API.</p>
  <hr class="my-4">
  <p>Construído para o Open Source Day Bootcamp.</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-5">

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let turma of turmas">
          <h4>{{turma.nome}}</h4>
          <ul>
            <li>Professor: {{turma.professor.nome}}</li>
            <li>Curso: {{turma.curso.nome}}</li>
            <li>Local: {{turma.local}}</li>
            <li>Duração: início em {{turma.dataInicio | date:'dd/MM/yyyy'}} ({{turma.curso.cargaHorariaHoras}} horas)</li>
          </ul>
          <hr class="my-4">
          <button type="button" class="btn btn-danger btn-sm btn-block" (click)="deleteTurma(turma)">Excluir</button>

        </li>
      </ul>
    </div>

  </div>
</div>
